.h-list {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly left;
  max-width: 50%;
}

.h-list button {
  margin-right: 1em;
}

/* .ad-display-wrapper {
  
} */

.ad-display {
  color: white;
  max-width: 50%;
  height: 25vh;
  background-color: black;
}
